<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="dashboard proyect"/>
    <meta name="author" content="i1b"/>

    <title>Operator Panel</title>
    
    
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    
    <!-- Table CSS -->
    <link href="css/tabla.css" rel="stylesheet" type="text/css"/>
    
    <script>
  	//<![CDATA[
		var source = new EventSource("/raw");
		source.onmessage = function(event) {
			var table = document.getElementById("tableIncidences");
			var row = table.insertRow(1);
			var cell1 = row.insertCell(0);
			var cell2 = row.insertCell(1);
			var cell3 = row.insertCell(2);
			var cell4 = row.insertCell(3);
			var cell5 = row.insertCell(4);
			var cell6 = row.insertCell(5);
			var cell7 = row.insertCell(6);
			var obj = JSON.parse(event.data);
			var type = obj.usertype;
			var tempField = obj.customfields.temp;
			var isTempDefined = typeof tempField!='undefined';
			var markAsAlert = type==3 && isTempDefined && (tempField<10 || tempField>30);
			
			if(markAsAlert) {
				cell1.innerHTML = '<strong class="text-danger">' + obj.id + '</strong>';
				cell2.innerHTML = '<strong class="text-danger">' + obj.name + '</strong>';
				cell3.innerHTML = '<strong class="text-danger">' + obj.description + '</strong>';
				cell4.innerHTML = '<strong class="text-danger">' + obj.username + '</strong>';
				cell5.innerHTML = '<strong class="text-danger">' + obj.usertype + '</strong>';
				cell6.innerHTML = '<strong class="text-danger">' + obj.state + '</strong>';
				cell7.innerHTML = '<strong class="text-danger">' + obj.operator + '</strong>';
				var alertText = "The sensor " + obj.username + " has emitted a dangerous temperature (" + tempField + "º)";
				setTimeout(function(){ alert(alertText); }, 500);
			}
			else {
				cell1.innerHTML = obj.id;
				cell2.innerHTML = obj.name;
				cell3.innerHTML = obj.description;
				cell4.innerHTML = obj.username;
				cell5.innerHTML = obj.usertype;
				cell6.innerHTML = obj.state;
				cell7.innerHTML = obj.operator;
			}
			
			
			var operator = document.getElementById("loggedoperator").innerHTML;
			if(operator.localeCompare(obj.operator)==0) {
				var table2 = document.getElementById("tableAsignedIncidences");
				var row2 = table2.insertRow(1);
				var cell8 = row2.insertCell(0);
				var cell9 = row2.insertCell(1);
				var cell10 = row2.insertCell(2);
				var cell11 = row2.insertCell(3);
				var cell12 = row2.insertCell(4);
				if(markAsAlert) {
					cell8.innerHTML = '<strong class="text-danger">' + obj.id + '</strong>';
					cell9.innerHTML = '<strong class="text-danger">' + obj.name + '</strong>';
					cell10.innerHTML = '<strong class="text-danger">' + obj.description + '</strong>';
					cell11.innerHTML = '<strong class="text-danger">' + obj.state + '</strong>';
				}
				else {
					cell8.innerHTML = obj.id;
					cell9.innerHTML = obj.name;
					cell10.innerHTML = obj.description;
					cell11.innerHTML = obj.state;
				}
				var str = "Manage";
				var strref = "/manage/"+obj.id;
				var result = str.link(strref);
				cell12.innerHTML = result;
			}
		}
	//]]>
	</script>
	
</head>


<body>
<!-- Navigation Bar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
   
    <div class="navbar-header">
      <a class="navbar-brand">Dashboard</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    	<p class="navbar-text" th:text="${operator.getOperatorId()}" id="loggedoperator"></p>
    	<div class="navbar-form navbar-right">
    		<a href="/index" class="btn btn-primary"> <span class="glyphicon glyphicon-log-out"></span> Log out</a>
    	</div>
	</div>
  </div>
</nav>


<!-- Page content -->
<div class="container-fluid">

	<div class="row">
		<div class="col-md-12" >
			<h1 class="page-header">Your Assigned Incidences</h1>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12" >
			<table id="tableAsignedIncidences">
				<tr>
					<th>Incidence ID</th>
					<th>Incidence Name</th>
					<th>Incidence Description</th>
					<th>State</th>
					<th></th>
				</tr>
				<tr th:each="inci : ${assignedIncis}">
					<span th:if="${inci.isAnAlert()}">
						<td><strong th:text="${inci.getInciId()}" class="text-danger"></strong></td>
						<td><strong th:text="${inci.getInci_name()}" class="text-danger"></strong></td>
						<td><strong th:text="${inci.getInci_description()}" class="text-danger"></strong></td>
						<td><strong th:text="${inci.getStateStr()}" class="text-danger"></strong></td>
						<td><a href="/manage" th:href="@{/manage/{inciId}(inciId=${inci.getInciId()})}"><strong>Manage</strong></a></td>
					</span>
					<span th:if="${not inci.isAnAlert()}">
						<td th:text="${inci.getInciId()}"></td>
						<td th:text="${inci.getInci_name()}"></td>
						<td th:text="${inci.getInci_description()}"></td>
						<td th:text="${inci.getStateStr()}"></td>
						<td><a href="/manage" th:href="@{/manage/{inciId}(inciId=${inci.getInciId()})}">Manage</a></td>
					</span>
				</tr>
			</table>
		</div>
	</div>
</div>


<div class="container-fluid">

	<div class="row">
		<div class="col-md-12" >
			<h1 class="page-header">Dashboard</h1>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12" >
			<table id="tableIncidences">
				<tr>
					<th>Incidence ID</th>
					<th>Incidence Name</th>
					<th>Incidence Description</th>
					<th>Agent</th>
					<th>Agent type</th>
					<th>State</th>
					<th>Operator</th>
				</tr>
				<tr th:each="inci : ${incidences}">
					<span th:if="${inci.isAnAlert()}">
						<td><strong th:text="${inci.getInciId()}" class="text-danger"></strong></td>
						<td><strong th:text="${inci.getInci_name()}" class="text-danger"></strong></td>
						<td><strong th:text="${inci.getInci_description()}" class="text-danger"></strong></td>
						<td><strong th:text="${inci.getUsername()}" class="text-danger"></strong></td>
						<td><strong th:text="${inci.getUsertype()}" class="text-danger"></strong></td>
						<td><strong th:text="${inci.getStateStr()}" class="text-danger"></strong></td>
						<td><strong th:text="${inci.getOperatorId()}" class="text-danger"></strong></td>
					</span>
					<span th:if="${not inci.isAnAlert()}">
						<td th:text="${inci.getInciId()}"></td>
						<td th:text="${inci.getInci_name()}"></td>
						<td th:text="${inci.getInci_description()}"></td>
						<td th:text="${inci.getUsername()}"></td>
						<td th:text="${inci.getUsertype()}"></td>
						<td th:text="${inci.getStateStr()}"></td>
						<td th:text="${inci.getOperatorId()}"></td>
					</span>
				</tr>
			</table>
		</div>
	</div>
	
	
	
</div>
<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="js/metisMenu.min.js"></script>
</body>
</html>
